body {
  margin: 0px;
}

a {
  text-decoration: none;
}

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}

h3 {
  line-height: 0;
}






.divider {
  background-color: #9747FF4D;
  height: 3px;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}


.footer a {
  color: white;
}